

// Color tokens - you can map to MUI theme later
$primary: #035297;
$secondary: #F36621;
$black: #0E1114;
$white: #FFFFFF;




$bg: #F0F4FF;
$text: #2C3135;
$subtext: #2C3135;
$bgiconactive: #E0E8FD;




$success: #2e7d32;
$danger: #d32f2f;


// Spacing scale
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 24px;
$space-6: 32px;



